@font-face {
    font-family: 'Dairy day';
    src: url('Dairyday.woff2') format('woff2'),
        url('Dairyday.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

